.divslide{
    color:black
}

.button{
    display: flex;
    justify-content: center;
    margin:15px;
}
.h2{
    display: flex;
    justify-content: center;  
    padding:10px ;

}
#img{
filter: brightness(1.2) invert(.1);

}
.carousel{
    display: flex;
    justify-content: center;
    margin:50px;
}

